@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

body {
  color: #414a5e;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  text-align: center;
  padding: 0.5rem 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

button:hover {
  cursor: pointer;
}

.header-button {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  border: transparent;
  border-radius: 0.5rem;
  background-color: #ebedf3;
  color: #414a5e;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  transition: background-color 0.2s, color 0.2s;
}

.header-button:hover, .new-game-button:hover {
  color: #57ac57;
  background-color: #e6f3e6;
}

#font-regular {
  font-weight: 400;
}

h1 {
  color: red;
}

.header {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.header-icons {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

.header-icon {
  width: 1.5rem;
  height: 1.5rem;
  stroke-width: 2px;
}

.placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help-header {
  display: flex;
  width: 100%;
  background-color: #e5ecff;
  position: relative;
  align-items: center;
  justify-content: end;
  border-radius: 0.5rem;
}

.help-header-text {
  position: absolute;
  right: 50%;
  transform: translateX(+50%);
  color: #2e3239;
  font-size: 1.2rem;
}

.help-main {
  display: flex;
  text-align: center;
  text-wrap: balance;
  margin-top: 1rem;
  font-weight: 400;
  color: #2e3239;
}

.close-button {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  border: transparent;
  border-radius: 0.5rem;
  background-color: transparent;
  color: #a7adc0;
  font-size: 16px;
  transition: color 0.2s;
}

.close-button:hover {
  color: #363e52;
}

.close-button:active {
  transform: scale(0.95);
}

.game-board {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  row-gap: 5px;
}

.word-attempt {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  column-gap: 5px;
}

.letter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  height: 3.5rem;
  width: 3.5rem;
  border: 2px solid #dee1e9;
  border-radius: 10%;
}

.clue { 
  color: #a7adc0 !important;
}

@keyframes pop-in {
  0% {
    transform: scale(1);
    border-color: #dee1e9;
  }
  50% {
    transform: scale(1.1);
    border-color: #a7adc0; /* зелёная рамка — можно заменить */
  }
  100% {
    transform: scale(1);
    border-color: #a7adc0;
  }
}

.letter-animated {
  animation: pop-in 100ms ease-in-out;
}

.letter-complete {
  border: 2px solid #a7adc0;
}

.wrong, .semi-right, .right, .muted {
  color: #fff !important;
  border: transparent !important;
}

.wrong {
  background-color: #a7adc0 !important;
}

.semi-right {
  background-color: #f3c237 !important; 
}

.right {
  background-color: #79b851 !important;
}

.muted {
  background-color: #dee1e9 !important;
}

.new-game-placeholder {
  display: flex;
  justify-content: center;
}

.new-game-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.5rem;
  border: 3px solid #414a5e;
  border-radius: 0.5rem;
  background-color: #ebedf3;
  color: #414a5e;
  transition: background-color 0.2s, color 0.2s, border 0.2s;
}

.new-game-button:hover {
  border: 3px solid #79b851;
}



.keyboard {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
}

.keyboard-row {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 0.3rem;
}

.keyboard-row > * {
  font-size: 1.1rem;
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: center;
  background-color: #dce1ed;
  color: #414a5e;
  border: transparent;
  border-radius: 0.3rem;
  transition: background-color 0.2, transform 0, 2;
}

.keyboard-row > *:hover {
  background-color: #c4cbdd;
}

.keyboard-row > *:active {
  transform: scale(0.95);
}

.keyboard-row > *.active {
  background-color: #c4cbdd;
  transform: scale(0.95);
}

.key {
  flex: 1;
}

.backspace-icon {
  width: 2rem;
  height: 2rem;
  stroke-width: 2px;
}

.backspace-button,
.enter-button {
  width: 5rem;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  body {
    max-width: 40%;
    margin: auto;
  }
}

@media (max-width: 767px) {
  body {
    margin: 0 0.5rem;
  }

  html {
    font-size: 13px;
  }
}
