@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#font-regular {
  font-weight: 400;
}


h1 {
  color: red;
}

.header {
  display: flex;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  justify-content: space-between;
  align-items: center;
}

.header-icons {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

.header-icon {
  height: 1.5em;
  width: 1.5em;
}

.game-board {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  row-gap: 5px;
}

.word-attempt {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  column-gap: 5px;
}

.letter {
  height: 60px;
  width: 60px;
  background-color: lightgray;
  border: 1px solid #ccc;
  border-radius: 5%;
}

.keyboard {
  margin-top: 1rem;
  display: flex;
}

@media (min-width: 768px) {
  body {
    max-width: 40%;
    margin: auto;
  }
}

@media (max-width: 767px) {
  body {
    max-width: 90%;
    margin: auto;
    margin-top: 1rem;
  }
}