@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

body {
  color: #414a5e;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


footer {
  margin-top: auto;
  text-align: center;
  padding: 0.5rem 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

button:hover {
  cursor: pointer;
}

.header-button {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  border: transparent;
  border-radius: 0.5rem;
  background-color: #ebedf3;
  color: #414a5e;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  transition: background-color 0.2s, color 0.2s;
}

.header-button:hover {
  color: #57ac57;
  background-color: #e6f3e6;
}

#font-regular {
  font-weight: 400;
}

h1 {
  color: red;
}

.header {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.header-icons {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

.header-icon {
  width: 1.5rem;
  height: 1.5rem;
  stroke-width: 2px;
}

.game-board {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  row-gap: 5px;
}

.word-attempt {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  column-gap: 5px;
}

.letter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  height: 3.5rem;
  width: 3.5rem;
  border: 2px solid #dee1e9;
  border-radius: 10%;
}

.keyboard {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
}

.keyboard-row {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 0.3rem;
}

.keyboard-row > * {
  font-size: 1.1rem;
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: center;
  background-color: #dce1ed;
  color: #414a5e;
  border: transparent;
  border-radius: 0.3rem;
  transition: background-color 0.2s;
}

.keyboard-row > *:hover {
  background-color: #c4cbdd;
}

.key {
  flex: 1;
}

.backspace-icon {
  width: 2rem;
  height: 2rem;
  stroke-width: 2px;
}

.backspace-button, .enter-button {
  width: 5rem;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  
  body {
    max-width: 40%;
    margin: auto;
  }
}

@media (max-width: 767px) {
  body {
    margin: 0 0.5rem;
  }

  html {
    font-size: 13px;
  }
}
